%h2 Sign up
= form_with(scope: resource_name,
            model: resource,
            url: registration_path(resource_name),
            method: :post) do |form|
              = form.label :email
              = form.text_field :email
              %br
              = form.label :name
              = form.text_field :name
              %br
              = form.label :username
              = form.text_field :username
              %br
              = form.label :password
              = form.password_field :password, type: "password"
              %br
              = form.label :password_confirmation
              = form.password_field :password_confirmation, type: "password"
              %br
              = form.submit "Sign up"
              

= render "devise/shared/links"
