.container-fluid
  .row 
    .col-sm
    .col-sm-6
      %br
      %br
      - if member_signed_in?
        = form_with model: @post, url: posts_path, method: :post, class: "form-group" do |form|
          .col.justify-content-center
            .container.justify-content-center
              .row-md-4
                .col-sm.ml-auto.justify-content-center
                  %h2.display-4 Create a new post
                  %br
                  = form.text_field :title, class: "form-control font-weight-lighter", placeholder: "Add a title"
                  %br
                  = form.text_area :body, class: "form-control font-weight-lighter", rows: 5, style: "resize: none", placeholder: "Write a message (only other club members will know you wrote it)"
                  %br
                  = form.submit class: "btn btn-info", value: "Create post"
                  = form.submit class: "btn btn-outline-warning float-right", value: "Cancel", :disabled => true
    .col-sm
    - if @posts.count > 0
      = @posts.each do |post|
        %p
          = post.title
          = post.body
          -# - if user_signed_in?
